<?xml version="1.0"?>
<config>
    <modules>
        <Hevelop_LestifpcAsynccache>
            <version>0.0.5</version>
        </Hevelop_LestifpcAsynccache>
    </modules>
    <global>
        <models>
            <lestifpcasynccache>
                <class>Hevelop_LestifpcAsynccache_Model</class>
            </lestifpcasynccache>
            <aoeasynccache>
                <rewrite>
                    <cleaner>Hevelop_LestifpcAsynccache_Model_AsyncCache_Cleaner</cleaner>
                </rewrite>
            </aoeasynccache>
        </models>
        <events>
            <application_clean_cache>
                <observers>
                    <hevelop_lestifpcasynccache_clean_cache>
                        <class>lestifpcasynccache/observer</class>
                        <method>addLestifpcTags</method>
                    </hevelop_lestifpcasynccache_clean_cache>
                </observers>
            </application_clean_cache>
            <aoeasynccache_processqueue_postprocessjobcollection>
                <observers>
                    <lestifpcasynccache>
                        <class>lestifpcasynccache/observer</class>
                        <method>postProcessJobCollection</method>
                    </lestifpcasynccache>
                </observers>
            </aoeasynccache_processqueue_postprocessjobcollection>
            <catalog_product_save_after>
                <observers>
                    <fpc_catalog_product_save_after>
                        <type>disabled</type>
                    </fpc_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <fpc_catalog_category_save_after>
                        <type>disabled</type>
                    </fpc_catalog_category_save_after>
                </observers>
            </catalog_category_save_after>
            <cms_page_save_after>
                <observers>
                    <fpc_cms_page_save_after>
                        <type>disabled</type>
                    </fpc_cms_page_save_after>
                    <lestifpcasynccache_cms_page_save_after>
                        <class>lestifpcasynccache/observer</class>
                        <method>cmsPageSaveAfter</method>
                    </lestifpcasynccache_cms_page_save_after>
                </observers>
            </cms_page_save_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <fpc_cataloginventory_stock_item_save_after>
                        <type>disabled</type>
                    </fpc_cataloginventory_stock_item_save_after>
                </observers>
            </cataloginventory_stock_item_save_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml_cache_massRefresh>
                <observers>
                    <fpc_controller_action_predispatch_adminhtml_cache_massRefresh>
                        <type>disabled</type>
                    </fpc_controller_action_predispatch_adminhtml_cache_massRefresh>
                    <lestifpcasynccache_adminhtml_cache_massRefresh>
                        <class>lestifpcasynccache/observer</class>
                        <method>cacheMassRefresh</method>
                    </lestifpcasynccache_adminhtml_cache_massRefresh>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massRefresh>
        </events>
    </adminhtml>
</config>
